
.parent {
    height: max-content;
    background: #FFF;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.child {
    background-color: #f3f3f3;
    width: 90%;
    height: 1200px;
    padding: 50px;

    font-size: 25px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    padding: 5px;
    justify-content: center;
    flex-direction: row;
}

.node1 {
    margin: 2px;
    background-color: green;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.node2 {
    margin: 2px;
    background-color: orange;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.node0 {
    margin: 2px;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#un-guessedRow {

}

#guessedRow {

}
